<section class="about-index">
  <h1>About Us</h1>
  <p>
    We are a group of humanoid Humans who are definitely human and NOT slugs.
  </p>
  <p>
    We love doing human activities such as Breathe and moisurizing human Skin. 
  </p>
  <p>
    The rumours about us being actually 52,320 slugs disguised as 3.5 humans are completely untrue. 
  </p>
  <p>
    If our Human team members don't like Salt (yuck), frankly that's none of anyone's business.
  </p>
  <h5>
    Please support us by buying our human merchandise. We will definitely spend the money on human things, such as Chair. 
  </h5>
</section>