// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

li.welcome-name {
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgb(87, 78, 78)
}
